$bgcolor: aquamarine;
body {
  background-color: $bgcolor;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Generva, Tahoma, sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;

  h1 {
    font-size: 72px;
    margin: 0;
  }

  p {
    font-size: 1.3rem;
    color: blueviolet;

    .icon-span {
      width: 40px !important;
      height: 40px !important;
      display: inline-block;
      background-image: url('icon.svg');
    }
  }
}